/* src/sections/AboutMe.css */
.about-container {
  display: flex;
}

.social-icons {
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 10;
}

.about-me {
  display: flex;
  padding: 1em;
  flex: 1;
  border-radius: 5px;
  margin-left: 30px; /* Adjust this value as needed for spacing */
}

.about-me-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.about-me-text {
  flex: 1;
  padding-right: 1em;
}

.about-me-text p {
  font-size: 1.2em;
  margin: 1em 0;
}

.about-me-text h2 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

.about-me-text h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
  color: #777;
}

.contact-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 0.5em 1.5em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 25px;
}

.contact-button:hover {
  background-color: #ff4d4d;
}

.about-me-image img {
  border-radius: 50%;
  max-width: 200px;
  width: 80%;
  height: auto;
}
