.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2em;
  margin-left: 50px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.project-card {
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  margin-left: 30px;
}

/* Mobile styles */
@media (max-width: 600px) {
  .projects-container {
    padding: 1em;
    margin-left: 0;
  }

  h2 {
    font-size: 1.5em;
    margin-left: 0;
    text-align: center;
  }

  .project-list {
    width: 100%;
    align-items: center;
  }

  .project-card {
    margin-left: 0;
    width: 90%;
  }
}
